/*--------- HEADER ---------*/
.headerstykke {
  height: 45px;
  background: #FAEBEB;
  width: 100%;
  border-bottom: 1px solid #A8A8A6;
  text-align: center;
  position: fixed;
  z-index: 99;
  display: inline-block;
  top: 0;
  left: 0;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}

.veraslogoforside img {
  height: 70px;
  width: 80px;
  margin-top: -12px;
}

.tekstitop1 {
  color: #c77b6e;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  margin-top: 2%;
}

/* -------- LEJ EN STAND -------- */

.norrebrohallen {
  background-color: #c77b6e;
  color: white;
  padding: 20px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
  margin-top: 30%;
}

.norrebrohallen a {
  color: #ffffff;
}

.underbuen {
  background-color: #c77b6e;
  color: white;
  padding: 20px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.underbuen a {
  color: #ffffff;
}

.storms {
  background-color: #c77b6e;
  color: white;
  padding: 20px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.storms a {
  color: #ffffff;
}

/* -------- lille kalender -------- */

.lillekalender {
  font-family: 'Open Sans', sans-serif;
  padding: 4em;
  background: #ffffff;
  font: 13px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8%;
  text-align: center;

}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
  font-family: 'Open Sans', sans-serif;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

label {
  display: block;
  font-size: 13px;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
  font-family: 'Open Sans', sans-serif;
}

/* ------------------- booking system -------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #c77b6e;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  margin-bottom: 25%;
  font-family: 'Open Sans', sans-serif;
}

.btn:hover {
  background-color: #FAEBEB;
}

a {
  color: black;
}

.a1 a {
  color: white;
}


hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/* ------------------- tilbage til forside knap -------------------*/

.tilbagetilstart {
  background-color: #c77b6e;
  color: white;
  padding: 20px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
  margin-top: 30%;
}

/* -------- CHECKBOX -------- */

#myStand {
  width: 5%;
  float: left;
}

#myBord {
  width: 5%;
  float: left;
}

#myTøjstativ {
  width: 5%;
  float: left;
}

/* ------------------- NEDERSTE MENU -------------------*/

/* Place the navbar at the bottom of the page, and make it stick */
.navbarbottom {
  background: #FAEBEB;
  border-top: 1px solid #A8A8A6;
  z-index: 99;
  display: inline-block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}

/* Style the links inside the navigation bar */
.navbarbottom a {
  display: inline-block;
  text-align: center;
  padding: 0.5% 1%;
  padding-bottom: 0px;
  padding-left: 1.8%;
}

.navbarbottom a img {
  height: 60px;
  width: 60px;
}
