/* -------- LEJ EN STAND -------- */


/* --------- VOTE --------- */


/*---------------- FORSIDE VERAS ---------------*/

.headerstykke {
  height: 45px;
  background: #FAEBEB;
  width: 100%;
  border-bottom: 1px solid #A8A8A6;
  text-align: center;
  position: fixed;
  z-index: 99;
  display: inline-block;
  top: 0;
  left: 0;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}

.veraslogoforside img {
  height: 70px;
  width: 80px;
  margin-top: -12px;
}

.tekstitop1 {
  color: #c77b6e;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  margin-top: 2%;
}

/*------------------ BAGGRUND TIL TEKST --------------*/

.baggrundtiltekst {
  background-color: #c77b6e;
  opacity: 30%;
  height: 525px;
  margin-top: 60px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-shadow: 3px 3px 3px grey;
}

/*-------------------- HVAD ER VERAS MARKET -------------*/

.hvaderverasmarketoverskrift {
  font-family: 'Lora', serif bold;
  font-style: bold;
  text-align: center;
  color: #ffffff;
  padding-top: 18%;
  font-size: 22px;
  margin-top: -550px;
}

.hvaderverasmarkettekst {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 14px;
  padding-top: 2%;
  color: #ffffff;
}

.hvaderverasmarketoverskrift1 {
  font-family: 'Lora', serif bold;
  font-style: bold;
  text-align: center;
  color: #707070;
  padding-top: 50%;
  font-size: 22px;
}

.hvaderverasmarkettekst1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 14px;
  padding-top: 5%;
  color: #717171;
}

/*-- LEJ EN STAND BILLEDER --*/

.step1billede {
  text-align: center;
}

.step1overskrift {
  font-family: 'lora', serif;
  font-size: 18px;
  color: #c77b6e;
  text-align: center;
}

.step1tekst {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #717171;
  text-align: center;
  padding-bottom: 5%;
}

.step2billede {
  text-align: center;
}

.step2overskrift {
  font-family: 'lora', serif;
  font-size: 18px;
  color: #c77b6e;
  text-align: center;
}

.step2tekst {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #717171;
  text-align: center;
  padding-bottom: 5%;
}

.step3billede {
  text-align: center;
  margin-bottom: 80px;
}

.step3overskrift {
  font-family: 'lora', serif;
  font-size: 18px;
  color: #c77b6e;
  text-align: center;
}

.step3tekst {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #717171;
  text-align: center;
  padding-bottom: 5%;
}

/* ------------------- KALENDER -------------------- */

.kalender {
  margin-left: 7%;
  margin-top: 18%;
}

/* --- PRIK 1 ---*/

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;

}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

.mybtn {
  position: absolute;
  border-radius: 50% 50%;
  color: #c77b6e;
  width: 35px;
  height: 35px;
  opacity: 50%;
  margin-top: -59.5%;
  margin-left: 63.8%;
}


.mybtn2 {
  position: absolute;
  border-radius: 50% 50%;
  color: #c77b6e;
  width: 35px;
  height: 35px;
  opacity: 50%;
  margin-top: -59.5%;
  margin-left: 75%;
}


.mybtn3 {
  position: absolute;
  border-radius: 50% 50%;
  color: #c77b6e;
  width: 35px;
  height: 35px;
  opacity: 50%;
  margin-top: -48%;
  margin-left: 65%;
}

.mybtn4 {
  position: absolute;
  border-radius: 50% 50%;
  color: #c77b6e;
  width: 35px;
  height: 35px;
  opacity: 50%;
  margin-top: -48%;
  margin-left: 76%;
}

.mybtn5 {
  position: absolute;
  border-radius: 50% 50%;
  color: #c77b6e;
  width: 35px;
  height: 35px;
  opacity: 50%;
  margin-top: -24%;
  margin-left: 65%;
}

.mybtn6 {
  position: absolute;
  border-radius: 50% 50%;
  color: #c77b6e;
  width: 35px;
  height: 35px;
  opacity: 50%;
  margin-top: -24%;
  margin-left: 76%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #FAEBEB;
  opacity: 95%;
  margin: 50% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #black;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
  color: #c77b6e;
  font-family: 'Open Sans', sans-serif;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -5%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tyndpil1 {
  height: 30px;
  weight: 30px;
  margin-left: 25%;
  margin-top: 5%;
}

.tyndpil2 {
  height: 30px;
  weight: 30px;
  margin-left: 20%;
  margin-top: 5%;
}



/* ------------------- LOG IND --------------------- */

.baggrundbillede {
margin-top: 15%;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.hr2 {
  width: 25%;
  margin-left: 37.5%;
  margin-top: -15px;
  margin-bottom: 20px;
}

/* Overskriften på siden "Log ind" */
.logindoverskrift {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  margin-top: -150%;
  color: #c77b6e;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=E-mailadresse] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Open sans', sans-serif;
}

/* Brugernavn og adgangskode */
.containerprofil {
  padding: 16px;
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
  color: #c77b6e;
  opacity: 60%;
  margin-top: -5%;
}

/* Glemt adgangskode */
span.psw {
  float: left;
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 10px;
  padding-left: 17px;
}

span.psw a {
  color: black;
}

.logind {
  background-color: #c77b6e;
  padding: 4px 4px;
  margin: 4px 4px;
  width: 40%;
  border-radius: 18px;
  padding-left: 20px;
}

.logindknap {
  background-color: #c77b6e;
  color: #ffffff;
  padding: 8px 20px;
  margin: 4px 0;
  width: 40%;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Playfair Display', serif;
  border: 1px solid lightgrey;
  margin-left: 30%;
  margin-right: auto;
  text-align: center;
  margin-bottom: -10px;
  text-decoration: none;
  font-size: 14px;
}

.logindknap a {
  color: #ffffff;
}

.forblivloggetind {
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.opret {
  font-size: 12px;
  font-family: 'Open sans', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

span.opret a {
  color: black;
}

/* ----------------- OPRET BRUGER -----------------*/

.opretbrugeroverskrift {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 36px;
  margin-top: 40px;
  color: #c77b6e;
  margin-top: -150%;
}

.opretbrugertekst {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.hr3 {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 10px;
}


.opretbokse {
  font-family: 'Open Sans', sans-serif;
  padding: 16px;
  font-size: 12px;
  margin-top: -10%;
  color: #c77b6e;
  opacity: 60%;
}

.opretknap {
  background-color: #c77b6e;
  color: lightgrey;
  padding: 8px 20px;
  margin: 4px 0;
  width: 50%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  border: 1px solid lightgrey;
  margin-left: 25%;
  margin-right: auto;
  font-size: 14px;
  margin-bottom: 30%;
  font-family: 'Playfair Display', serif;
}

.opretknap a {
  color: #ffffff;
}

/* -------------------  MIN PROFIL ---------------- */


.hr5 {
  width: 30%;
  margin-left: 35%;
  margin-top: 25%;
  margin-bottom: 20px;
}

.profilbillede {
  margin-top: -10px;
  text-align: center;
}


.profiltekst {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

}

.mineoplysninger {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
  margin-top: 20px;
}

.mineoplysninger a {
  color: #ffffff;
}

.senesteordrer {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.senesteordrer a {
  color: #ffffff;
}

.sogehistorik {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.sogehistorik a {
  color: #ffffff;
}

.senestebilledgenkendelser {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.senestebilledgenkendelser a {
  color: #ffffff;
}

.logud {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
  margin-bottom: 20%;
}

.logud a {
  color: #ffffff;
}

/* ------------------- NEDERSTE MENU -------------------*/

/* Place the navbar at the bottom of the page, and make it stick */
.navbarbottom {
  background: #FAEBEB;
  border-top: 1px solid #A8A8A6;
  z-index: 99;
  display: inline-block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}

/* Style the links inside the navigation bar */
.navbarbottom a {
  display: inline-block;
  text-align: center;
  padding: 0.5% 1%;
  padding-bottom: 0px;
  padding-left: 1.8%;
}

.navbarbottom a img {
  height: 60px;
  width: 60px;
}
