/* -------- LEJ EN STAND -------- */


/* --------- VOTE --------- */



/*---------------- FORSIDE ---------------*/

.headerstykke {
  height: 45px;
  background: #FAEBEB;
  width: 100%;
  border-bottom: 1px solid #A8A8A6;
  text-align: center;
  position: fixed;
  z-index: 99;
  display: inline-block;
  top: 0;
  left: 0;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}

.veraslogoforside img {
  height: 70px;
  width: 80px;
  margin-top: -12px;
}

.tekstitop1 {
  color: #c77b6e;
  font-size: 20px;
  font-family: 'Lora', serif;
  margin-top: 12px;
  text-shadow: 1px 0.5px white;
}

/*------------------ BAGGRUND TIL TEKST --------------*/

.baggrundtiltekst {
  background-color: #c77b6e;
  opacity: 30%;
  height: 525px;
  margin-top: 60px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-shadow: 3px 3px 3px grey;
}

/*-------------------- HVAD ER VERAS MARKET -------------*/

.hvaderverasmarketoverskrift {
  font-family: 'Lora', serif bold;
  font-style: bold;
  text-align: center;
  color: #ffffff;
  padding-top: 18%;
  font-size: 22px;
  margin-top: -550px;
}

.hvaderverasmarkettekst {
  font-family: 'bodoni', serif;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 14px;
  padding-top: 2%;
  color: #ffffff;
}

.hvaderverasmarketoverskrift1 {
  font-family: 'Lora', serif bold;
  font-style: bold;
  text-align: center;
  color: #707070;
  padding-top: 20%;
  font-size: 22px;
}

.hvaderverasmarkettekst1 {
  font-family: 'Lora', serif;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 14px;
  padding-top: 5%;
  color: #717171;
}

/*-- LEJ EN STAND BILLEDER --*/

.step1billede {
  text-align: center;
}

.step1overskrift {
  font-family: 'lora', serif;
  font-size: 18px;
  color: #c77b6e;
  text-align: center;
}

.step1tekst {
  font-family: 'lora', serif;
  font-size: 14px;
  color: #717171;
  text-align: center;
  padding-bottom: 5%;
}

.step2billede {
  text-align: center;
}

.step2overskrift {
  font-family: 'lora', serif;
  font-size: 18px;
  color: #c77b6e;
  text-align: center;
}

.step2tekst {
  font-family: 'lora', serif;
  font-size: 14px;
  color: #717171;
  text-align: center;
  padding-bottom: 5%;
}

.step3billede {
  text-align: center;
}

.step3overskrift {
  font-family: 'lora', serif;
  font-size: 18px;
  color: #c77b6e;
  text-align: center;
}

.step3tekst {
  font-family: 'lora', serif;
  font-size: 14px;
  color: #717171;
  text-align: center;
  padding-bottom: 5%;
}

/* ------------------- KALENDER -------------------- */

div, ul, li{
	list-style-type: none;
}

.planner{
	font-family: 'Open Sans', sans-serif;
	width: 394px;
	margin: 100px auto;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	border-radius: 5px;
	overflow: hidden;
}

.calendar{

	padding: 10px;
	background-color: #333333;
}

.calendar-header{
	color: #a7a7a7;
	border-bottom: 1px solid #484848;
	margin: 0; padding: 0;
	text-align: justify;
	line-height: 0px;
	font-size: 0px;
	padding-bottom: 10px;
  }

	.calendar-header span{
		display: inline-block;
		font-size: 36px;
		font-weight: 200;
		text-align: center;
		line-height: 36px;
	}

	.calendar-header:after{
		content: '';
		display: inline-block;
		width: 100%;
	}


table{
	width: 100%;
	padding: 10px;
	color: #9d9d9d;
}

th{
	font-weight: normal;
	font-size: 14px;
	color: #5b5b5b;
}

td{
	font-weight: normal;
	font-size: 12px;
	text-align: center;
}


td > span{
	display: inline-block;
	text-align: center;
	padding: 3px; margin: 0px;
	width: 20px; height: 20px;
  line-height: 20px;
}

td > span:hover{
		 font-weight: bold;
	}

td > span.active{
		border: 1px solid #98cd60;
		border-radius: 30px;
	}
td > span:active{
		border: 2px solid #98cd60;
		border-radius: 30px;
	}



.schedule{
	margin: 0;
}

.tabs{
	margin: 0; padding: 0;
	text-align: justify;
	line-height: 0px;
	font-size: 0px;
  background-color: #6b6b6b;
}
.tabs	.tab{
		display: inline-block;
		width: 33.3333%;
		background-color: #6b6b6b;
		text-align: center;
		color: #333333;
		margin: 0; padding: 0;
		border: 0px none;
		line-height: 38px;
		font-size: 14px;
		transition: background 0.2s;
}

.tab:active{
			background-color: #999999;
			color: #ffffff;
			font-weight: 600;
}

.tab:avtive:hover{
			background-color: #999999;
}


.tabs	.tab:hover{
			background-color: #777777;
		}

		a{
			color: inherit;
			text-decoration: none;
		}

	.tabs:after{
		content: '';
		width: 100%;
		display: inline-block;
	}


.schedule-list{
	padding: 20px;
	margin-left: 37px;
	border-left: 2px solid #cccccc;
	display: block;
}

.schedule-item{
	display: block;
	margin-bottom: 50px;
	padding: 0;
  clear: both;
  min-height: 100px;
  overflow: visible;
}

.schedule-item:last-child{
		margin-bottom: 10px;
    min-height: 30px;
	}

.time{
		display: block;
		float: left;
		margin-left: -41px;
		width: 36px; height: 36px;
		border: 2px solid #cccccc;
		background-color: #ffffff;
		color: #cccccc;
		border-radius: 40px;
		text-align: center;
		padding: 0px;
		line-height: 25px;
}
.time	span{
			font-size: 12px;
			height: 10px;
			margin: auto;
			display: block;
		}

.description{
		display: block;
    float: left;
    width: 305px;
		margin-top: 10px;
		margin-left: 10px;
		color: #fd9a4a;
		font-size: 14px;
    overflow: visible;
}

.description	.description-content{
		margin-top: 5px;
}
.description	.description-content p {
				font-size: 12px;
				margin: 0;
				color: #c5c5c5;
			}

.description	.description-content	ul.contact-list{
				margin: 0;
				margin-top: 10px;
				padding: 0;
}
.description	.description-content	ul.contact-list	li.contact{
					overflow: hidden;
					display: block;
					float: left;
					margin: 0; padding: 0;
					border: 2px solid fadeout(#98cd60, 75%);
					border-radius: 60px;
					width: 56px; height: 56px;
					text-decoration: none;
					text-align: center;
					margin-right: 10px;
					transition: all 0.2s;
}
.description	.description-content	ul.contact-list	li.contact	img{
						width: 60px; height: 60px;
					}

.description	.description-content	ul.contact-list	li.contact:hover{
						border: 2px solid #98cd60;
					}

.description	.description-content	ul.contact-list	li.contact.add-contact{
						color: #98cd60;
						font-size: 20px;
						line-height: 60px;
}
.description	.description-content	ul.contact-list	li.contact.add-contact a{
							color: inherit;
							text-decoration: none;
						}

.description .description-content	ul.contact-list	li.contact .add-contact a:hover{
							background-color: fadeout(#98cd60, 75%);
						}

.schedule-item.free .time{
			border: 2px solid #98cd60;
		}

.schedule-item.free .description .description-header{
        background-color: #ffffff;
        color: #c5c5c5;
        display: block;
        float: left;

			}

.schedule-item.free .description .description-content{
        margin-left: 5px;
        margin-top: 0;
        content: '';
        width: 215px;
        display: block;
        float: right;
        background-image:  url(https://dl.dropboxusercontent.com/u/2915418/filler.png);
        background-repeat: no-repeat;
        background-position: right center;
      }

/* ------------------- LOG IND --------------------- */

.hr2 {
  width: 25%;
  margin-left: 37.5%;
  margin-top: -15px;
  margin-bottom: 20px;
}

/* Overskriften på siden "Log ind" */
.logindoverskrift {
  text-align: center;
  font-family: 'lora', sans-serif;
  font-size: 24px;
  margin-top: 80px;
  color: #c77b6e;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=E-mailadresse] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'lora', sans-serif;
}

/* Brugernavn og adgangskode */
.containerprofil {
  padding: 16px;
  font-family: 'lora', sans-serif;
  font-size: 12px;
}

/* Glemt adgangskode */
span.psw {
  float: left;
  font-family: 'lora', sans-serif;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 10px;
  padding-left: 17px;
}

span.psw a {
  color: black;
}

.logind {
  background-color: #c77b6e;
  padding: 4px 4px;
  margin: 4px 4px;
  width: 40%;
  border-radius: 18px;
  padding-left: 20px;
}

.logindknap {
  background-color: #c77b6e;
  color: #ffffff;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 20px;
  font-family: 'lora', sans-serif;
  border: 1px solid lightgrey;
  margin-left: 18px;
  margin-bottom: -10px;
  text-decoration: none;
}

.logindknap a {
  color: #ffffff;
}

.forblivloggetind {
  font-family: 'lora', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.opret {
  font-size: 14px;
  font-family: 'lora', sans-serif;
  text-align: center;
  margin-left: 10%;
  margin-right: auto;
}

span.opret a {
  color: black;
}

/* ----------------- OPRET BRUGER -----------------*/

.opretbrugeroverskrift {
  font-family: 'Lora', sans-serif;
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
  color: #c77b6e;
  margin-top: 80px;
}

.opretbrugertekst {
  font-family: 'Lora', sans-serif;
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}

.hr3 {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 10px;
}


.opretbokse {
  font-family: 'Lora', sans-serif;
  padding: 16px;
  font-size: 12px;
  margin-top: 15px;
}

.opretknap {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'Lora', sans-serif;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.opretknap a {
  color: #ffffff;
}

/* -------------------  MIN PROFIL ---------------- */


.hr5 {
  width: 30%;
  margin-left: 35%;
  margin-top: -15px;
  margin-bottom: 20px;
}

.profilbillede {
  margin-top: -10px;
  text-align: center;
}


.profiltekst {
  text-align: center;
  font-family: 'lora', sans-serif;
  font-size: 14px;

}

.mineoplysninger {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'lora', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
  margin-top: 20px;
}

.mineoplysninger a {
  color: #ffffff;
}

.senesteordrer {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'lora', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.senesteordrer a {
  color: #ffffff;
}

.sogehistorik {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'lora', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.sogehistorik a {
  color: #ffffff;
}

.senestebilledgenkendelser {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'lora', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
}

.senestebilledgenkendelser a {
  color: #ffffff;
}

.logud {
  background-color: #c77b6e;
  color: white;
  padding: 8px 20px;
  margin: 4px 0;
  width: 89%;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 18px;
  font-family: 'lora', sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-left: 18px;
  margin-bottom: 20%;
}

.logud a {
  color: #ffffff;
}

/* ------------------- NEDERSTE MENU -------------------*/

/* Place the navbar at the bottom of the page, and make it stick */
.navbarbottom {
  background: #FAEBEB;
  border-top: 1px solid #A8A8A6;
  z-index: 99;
  display: inline-block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Style the links inside the navigation bar */
.navbarbottom a {
  display: inline-block;
  text-align: center;
  padding: 2px 4px;
  padding-bottom: 0px;
}

.navbarbottom a img {
  height: 60px;
  width: 60px;
}
