/*--------- HEADER ---------*/
.headerstykke {
  height: 45px;
  background: #FAEBEB;
  width: 100%;
  border-bottom: 1px solid #A8A8A6;
  text-align: center;
  position: fixed;
  z-index: 99;
  display: inline-block;
  top: 0;
  left: 0;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}

.veraslogoforside img {
  height: 70px;
  width: 80px;
  margin-top: -12px;
}

.tekstitop1 {
  color: #c77b6e;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  margin-top: 2%;
}


/*------- SWIPE ------*/

/*Downloaded from https://www.codeseek.co/RobVermeer/tinder-swipe-cards-japZpY */
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #FAEBEB;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  color: #c77b6e;
  font-size: 16px;
}

.tinder {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 60vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: grab;
  font-size: 18px;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
  margin-bottom: -10%;
  margin-top: -8%;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
}


/* ------------------- NEDERSTE MENU -------------------*/

/* Place the navbar at the bottom of the page, and make it stick */
.navbarbottom {
  background: #FAEBEB;
  border-top: 1px solid #A8A8A6;
  z-index: 99;
  display: inline-block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}

/* Style the links inside the navigation bar */
.navbarbottom a {
  display: inline-block;
  text-align: center;
  padding: 0.5% 1%;
  padding-bottom: 0px;
  padding-left: 1.9%;
}

.navbarbottom a img {
  height: 60px;
  width: 60px;
}

/* For iPhone 8 plus */

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .navbarbottom a {
    display: inline-block;
    text-align: center;
    padding: 0.5% 1%;
    padding-bottom: 0px;
    padding-left: 3.2%;
  }
}
